.axis-controls {
    position: absolute;
    padding: 10px;
    top: 130px;
    left: 0;
    z-index: 1;
    width: 200px;

    .axis-label {
        display: block;
        color: $dl-color-text;
        opacity: 0.5;
        font-size: 11px;
        text-transform: uppercase;
        height: 14px;
        margin: 5px;
    }

    .axis-selector {
        color: $dl-color-text;
        border: 0;
        padding: 4px;
        background: $dl-background-subtle;
        width: 100%;
    }

    .button {
        margin-top: 20px;
    }
}
