.datalasso-container {
    background: $dl-color-background;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
    overflow: hidden;
    margin: 0;
    font-size: 13px;
    line-height: 1.4;
    color: $dl-color-text;
    font-weight: bold;

    .row {
        width: 100%;
        margin: 5px 0;
        display: flex;
        justify-content: center;

        &.extra-spacing {
            margin-bottom: 10px;
        }
    }

    .column {
        flex: 1 0 auto;
    }

    .button {
        width: 100%;
        line-height: 2;
        border: 0;
        text-transform: uppercase;
        font-weight: bold;
        outline: none;
        color: $dl-color-text;

        &.red {
            background-color: $dl-accent-red;
            color: $dl-color-background;
        }

        &.black {
            background-color: $dl-background-subtle;
            color: $dl-color-text;
        }
    }

    .text-input {
        box-sizing: border-box;
        width: 100%;
        color: $dl-color-text;
        border: 0;
        padding: 10px;
        background: $dl-background-subtle;
    }
}
