.selection-controls {
    position: absolute;
    padding: 10px;
    top: 500px;
    left: 0;
    z-index: 1;
    width: 200px;

    .selected-indicator {
        text-align: center;
        display: flex;
    }

    .total,
    .selected {
        flex: 0 0 50%;
        text-align: center;
    }
    
    .count-label {
        font-size: 10px;
        color: $dl-color-text;
        text-transform: uppercase;
        opacity: 0.5;
    }

    .count {
        font-size: 22px;
        color: $dl-accent-blue;
        font-weight: bold;
    }

    .buttons-container {
        display: flex;

        .back {
            flex: 0 1 auto;
            margin-right: 5px;
        }

        .zoom {
            flex: 0 0 80%;
        }

        .button.disabled{
            pointer-events: none;
            opacity: 0.2;
        }
    }

    .download-link {
        color: $dl-color-text;
        text-align: center;
        font-size: 10px;
        opacity: 0.5;
        padding: 10px;
    }


    .button {
        margin-top: 10px;
    }
}
