.uploader {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    padding: 10px;
    z-index: 1;

    .toggle {
        text-align: center;
        display: block;
        cursor: pointer;
        width: 100%;
        font-weight: bold;
        background: $dl-background-subtle;
        color: $dl-color-text;
        border: 0;
        font-size: inherit;
    }

    .toggle.active {
        background: $dl-background-heavy;
        color: #ffffff;
    }

    .file-upload-input {
        width: 100%;
        color: $dl-color-text;
        padding: 7px 0;
        line-height: 1;
        height: auto;
    }

    .url-input:focus {
        width: 200%;
    }

    .button {
        .loading-state {
            display: none;
        }
    }
}
