.uploader {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    padding: 10px;
    z-index: 1;

    .toggle {
        text-align: center;
        display: block;
        cursor: pointer;
        width: 100%;
        font-weight: bold;
        background: $dl-background-subtle;
        color: $dl-color-text;
        border: 0;
        font-size: inherit;
    }

    .toggle.active {
        background: $dl-background-heavy;
        color: #ffffff;
    }

    .file-upload-input {
        width: 100%;
        color: $dl-color-text;
        padding: 7px 0;
    }

    .url-input:focus {
        width: 200%;
    }

    .button {
        .loading-state {
            display: none;
        }
    }

    &[data-source='file'] {
        .file-upload-form {
            display: block;
        }

        .url-form {
            display: none;
        }

        .toggle-file {
            @extend .active;
        }
    }

    &[data-source='url'] {
        .file-upload-form {
            display: none;
        }

        .url-form {
            display: block;
        }

        .toggle-url {
            @extend .active;
        }
    }

    &[data-file-type='csv'] {
        .toggle-csv {
            @extend .active;
        }
    }

    &[data-file-type='tsv'] {
        .toggle-tsv {
            @extend .active;
        }
    }

    &[data-file-type='json'] {
        .toggle-json {
            @extend .active;
        }
    }

    &.loading {
        opacity: 0.5;
        pointer-events: none;

        .button {
            .loading-state {
                display: block;
            }

            .ready-state {
                display: none;
            }
        }
    }

    &.error {
        .button {
            animation: shake 0.6s;
        }
    }
}
