$dl-color-background: #32303d;
$dl-color-text: #dddddd;

$dl-accent-red: #cc5d6d;
$dl-accent-yellow: #ddde12;
$dl-accent-blue: #3c7cf9;

$dl-background-subtle: rgba(0, 0, 0, 0.1);
$dl-background-heavy: rgba(0, 0, 0, 0.8);
